<h1>Questions#ask</h1>

<form action="/answer" method="get">
    <label for="InputQuestion">Question</label>
    <input type="Question" class="form-control" name="ask" id="Question" placeholder="Your Question">
  <button type="submit" value="Ask!" class="btn btn-default">Submit</button>
</form>
